<h1>Futbolista: <small> {{ futbolista.nombre }} </small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/futbolistas">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm">
            <div class="form-group">
                <label for="">Firebase ID</label>
                <input [(ngModel)]="futbolista.id" name="id" type="text" class="form-control" placeholder="Firebase ID" disabled="disabled">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>
            <div class="form-group">
                <label for="">Nombre</label>
                <input [(ngModel)]="futbolista.nombre" #nombre="ngModel" [class.is-invalid]="nombre.invalid && nombre.touched" name="nombre" type="text" class="form-control" placeholder="Nombre del futbolista" minlength="5" required>
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
            <div class="form-group">
                <label for="">Nacionalidad</label>
                <input [(ngModel)]="futbolista.nacionalidad" #nacionalidad="ngModel" [class.is-invalid]="nacionalidad.invalid && nacionalidad.touched" name="nacionalidad" type="text" class="form-control" placeholder="Nacionalidad" minlength="3" required>
                <small *ngIf="nacionalidad.invalid && nacionalidad.touched" class="form-text text-danger">Ingrese 3 letras</small>
            </div>
            <div class="form-group">
                <label for="">Equipo</label>
                <input [(ngModel)]="futbolista.equipo" #equipo="ngModel" [class.is-invalid]="equipo.invalid && equipo.touched" name="equipo" type="text" class="form-control" placeholder="Equipo" minlength="3" required>
                <small *ngIf="equipo.invalid && equipo.touched" class="form-text text-danger">Ingrese 3 letras</small>
            </div>
            <div class="form-group">
                <label for="">Campeón mundial</label>
                <br>
                <button *ngIf="futbolista.campeonMundial" (click)="futbolista.campeonMundial = false" class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    SI
                </button>

                <button *ngIf="!futbolista.campeonMundial" (click)="futbolista.campeonMundial = true" class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    NO
                </button>
            </div>

            <hr>
            <div class="form-goup text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>