<h1>Listado de Heroes</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/futbolista/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table *ngIf="!cargando && futbolistas.length > 0" class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nacionalidad</th>
            <th scope="col">Equipo</th>
            <th scope="col">Campeón Mundial</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let futbolista of futbolistas; let i = index">
            <th scope="row"> {{ i + 1 }} </th>
            <td> {{ futbolista.nombre }} </td>
            <td> {{ futbolista.nacionalidad }} </td>
            <td> {{ futbolista.equipo }} </td>
            <td>
                <label *ngIf="futbolista.campeonMundial" class="badge badge-success">SI</label>
                <label *ngIf="!futbolista.campeonMundial" class="badge badge-danger">NO</label>
            </td>
            <td>
                <button [routerLink]="['/futbolista', futbolista.id]" class="btn btn-info mr-1">
                    <i class="fas fa-pencil-square"></i>
                </button>
                <button (click)="borrarFutbolista( futbolista, i )" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!cargando && futbolistas.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-3x"></i>
    </p>
</div>
<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>