<nav *ngIf="auth.estaAutenticado()" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Futbol App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/futbolistas">Futbolistas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
            </li>
        </ul>
        <span class="navbar-text">
        <button class="btn btn-danger" (click)="salir()">Salir</button>
      </span>
    </div>
</nav>